/* a:hover {
    background: var(--yellow, #E9C46A);
    padding: 8px;
    border-radius: 5px;
    color: white;
    transition: 0.3s all;
} */
/*
body.active-modal {
    overflow-y: hidden;
}

.modal, .overlay {
    width: 100vw;
    height: 1000vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 1;
}


.overlay {
    background: rgba(49, 49, 49, 0.8);
} */