a:hover {
    background: var(--yellow, #E9C46A);
    padding: 8px;
    border-radius: 5px;
    color: white;
    transition: 0.3s all;
}

body.active-modal {
    overflow-y: hidden;
}

.modal, .overlay {
    width: 100vw;
    height: 1000vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 1;
}

/* .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
} */

.overlay {
    background: rgba(49, 49, 49, 0.8);
}