* {
    margin: 0;
    padding: 0 8px;
}

/* @fontface {
  font-family: 'Bungee Inline', cursive;
  src: url('https://fonts.googleapis.com/css?family=Bungee+Inline')
}

body {
  font-family: 'inter';
} */