@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
    html {
        @apply font-normal
    };
} */



 :root {
    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
}



/* .container {
    width: var(--container-width-lg);
    margin: 0 auto;
} */

/* img {
    display: block;
    width: 100%;
    object-fit: cover;
} */

/*  */
@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-width-md);
    }
}
/*  */
@media screen and (max-width: 600px) {
    .container {
        width: var(--container-width-sm);
    }
}